.lista-suspensa {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
}

@media only screen and (max-width: 767px) {
    .lista-suspensa {
        font-size: 18px;
    }

    .lista-suspensa select {
        font-size: 14px;
        padding: 12px;
    }
}